;
; Block config format
;
;[block_id] //needs to be unique between the blocks
;enabled=1 // 1 = yes it is, 0 (and all other) = no, no it isn't (default 1)
;source=demo.inc.php,demo2.inc.php //The files that are required by this block
;title=Demo Block //The default title of the block
;class=Demo //The class name of the block - needs to extend from DBBlock
;refreshable=1 //Optional: 1 = the block can refresh, 0 (and all other) no refreshing for you (default 0)
;refreshrate=60 //Optional: The default refresh rate - ignored if above is not 1
;arg1=xxxx //Optional: Any additional arguments will be passed to your block



